
.details-container {
    padding: 2.3rem 2.5rem 2.5rem 2.5rem;
}
.details-content {
    display: block;
    width: 80%;
    margin: auto;
    background-color: #f5f4f4;
    padding: 3rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.back-button-container {
    background-color: #f5f4f4;
    display: block;
    width: fit-content;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-bottom: 3rem;
}

.details-header {
    margin-bottom: 2rem;
}

.details-body {
    font-size: larger;
    display: block;
    column-count: 2;
}

.back-button {
    color: rgb(117, 116, 116);
    border: none;
    text-decoration: none;
}

.back-button:hover {
    color: rgb(92, 91, 91);
}

.back-button:focus {
    color: rgb(29, 29, 29);
}

.readings-container {
    height: 20rem;
    width: 80%;
    margin: auto;
    background-color: #f5f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.readings-header {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readings-body {
    column-count: 2;
}

.visit-history-container {
    height: 20rem;
    width: 80%;
    margin: auto;
    overflow-x: scroll;
    background-color: #f5f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.visit-history-header {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: sticky;
    left: 0;
}

.visit-history-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}

.visit-history {
    flex: 0 0 20rem;
    height: 10rem;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    margin-right: 2rem;
}



    

  
  