* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
}
.nav {
  padding: 2rem 50px 1rem 50px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 5rem;
}


.profile-section {
  display: flex;
  align-items: baseline;
}

.notification-icon {
  padding: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(80, 79, 79);
  border-radius: 100%;
  text-align: center;
}

.notifications .icon {
  position: relative;
  height: auto !important;
  width: auto !important;
  box-sizing: border-box;
}

.profile-icon {
  padding: 0.5rem;
  margin-left: 0.5rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(80, 79, 79);
  border-radius: 100%;
}





